* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#gameButtonName {
  height: 100vh;
  float: center;
  align-self: center;
  position: absolute;
  font-size: 50px;
}

.gameTitle {
  font-size: 30px;
  background-color: white;
  width: 50%;
  height: 120%;
  border: 2px solid black;
  box-shadow: 2px 2px 10px black;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.gameBackground {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.simonModule {
  border-radius: 100%;
  height: 700px;
  width: 700px;
  border: 10px solid black;
  border: inset 5px solid black;
  box-shadow: 5px 0px 20px 5px black;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 190, 104, 0.815);
}

.inactive {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid transparent;
  border-bottom: 200px solid;
  border-radius: 100%;
  height: 250px;
  width: 250px;
  position: fixed;
  box-sizing: content-box;
  margin-top: -5px;
  margin-left: -5px;
  padding: 20px;
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 1);
  /* no longer needed due to JS
  background-color: transparent;
  border-bottom-color: yellow;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  */
}

/* removed code:
.activated {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid transparent;
  border-bottom: 200px solid;
  border-radius: 100%;
  height: 250px;
  width: 250px;
  position: fixed;
  box-sizing: content-box;
  margin-top: -5px;
  margin-left: -5px;
  padding: 20px;
  box-shadow: inset 2px 4px 5px 20px rgba(0, 0, 0, 0.5);
  background-color: transparent;
} */
