* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#gameButtonName {
  height: 100vh;
  float: center;
  align-self: center;
  position: absolute;
  font-size: 50px;
}

.gameTitle {
  font-size: 30px;
  background-color: white;
  width: 50%;
  height: 120%;
  border: 2px solid black;
  box-shadow: 0px 0px 20px 5px black;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.gameBackground {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.simonModule {
  border-radius: 100%;
  height: 550px;
  width: 550px;
  border: 10px solid black;
  border: inset 5px solid black;
  box-shadow: 0px 0px 20px 5px black;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 190, 104, 0.815);
}

.inactive {
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-top: 175px solid transparent;
  border-bottom: 175px solid;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  box-sizing: content-box;
  margin-top: -5px;
  margin-left: -5px;
  padding: 20px;
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 1);
  /* transform: rotate(-45deg); */
  /* remove transform when done setting values of grid */
}

.startButton {
  height: 111%;
  width: 111%;
  border-radius: 100%;
  margin-top: -10px;
  margin-left: -8px;
  background-color: rgba(210, 102, 34, 0.2);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
}

.restart {
  height: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 20px 5px black;
  background-color: white;
  margin-top: -300px;
  margin-left: 300px;
  position: fixed;
}

.hardMode {
  height: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 20px 5px black;
  background-color: white;
  margin-top: -300px;
  margin-left: -450px;
  position: fixed;
}

#overlay {
  display: inline-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 575px;
  width: 575px;
  /* This code is purely to see grid to assign colors to divs
  border: 10px solid black;
  box-shadow: 0px 0px 20px 5px black;
  background-color: rgba(255, 255, 255, 0.1);
  */
  margin-left: -288px;
  margin-top: -369px;
  position: fixed;
  transform: rotate(45deg);
}

/* .gridbox {
// This code is purely to see grid to assign colors to divs
 border: 0.25px solid black;
 
} */

/* ROTATE CODE FROM https://stackoverflow.com/questions/6410730/css-endless-rotation-animation  */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes inactive {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.inactive {
  -webkit-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
